HF_TOKEN = "your-hf-token"
OPENAI_API_KEY = "your-open-api-key"
KAGGLE_USERNAME = "your-username"
KAGGLE_KEY = "your-kaggle-key"
NGROK_TOKEN = "your-ngrok-token"
OLLAMA_BASE_URL="http://localhost:11434/v1"